myenv
__pycache__
model_weights/*
model_weights
gpt2
sagar_neuron_gpt2/model_weights/*
sagar_neuron_gpt2/model_weights
finetuned_weights
finetuned_weights/*
GPT2/binary_classifier_using_gpt2/model_weights/*
GPT2/binary_classifier_using_gpt2/model_weights
GPT2/sagar_neuron_gpt2/model_weights/*
GPT2/sagar_neuron_gpt2/model_weights    
GPT2/binary_classifier_using_gpt2/finetuned_weights/*
GPT2/binary_classifier_using_gpt2/finetuned_weights
GPT2/binary_classifier_using_gpt2/__pycache__/
GPT2/sagar_neuron_gpt2/weights/*
GPT2/sagar_neuron_gpt2/weights
GPT2/sagar_neuron_gpt2/__pycache__/
GPT2/binary_classifier_using_gpt2/.ipynb_checkpoints/
GPT2/sagar_neuron_gpt2/.ipynb_checkpoints/
GPT2/.ipynb_checkpoints/
.DS_Store
.vscode/
.ipynb_checkpoints/
*.pth
*.pt
*.ckpt
*.log
*.csv
*.h5

